<h2><%= @farmer.name %></h2>
<p><em><%= @farmer.department_name %></em></p>
<h3>Products</h3>
<div class="row">
  <% @farmer.products.each do |product| %>
    <div class="col-md-3">
      <h2><%= product.name %></h2>
      <p class="text-center">rendimiento por año</p>
      <%= bar_chart product.history_by(@farmer.department.name) %>
    </div>
  <% end %>
</div>

<% if @farmer.matching_producers? %>
  <h3>Possible matches with producers</h3>
  <ul>
    <% @farmer.matching_producers.each do |matching_producers| %>
      <li><%= matching_producers.name %></li>
    <% end %>
  </ul>
<% end %>
