<div class="container-fluid">
    <% @farmer.products.each do |product| %>
      <div class="row" style="margin: 30px 0px">

        <div class="div col-md-2 offset-1">
          <p class="p-name-dash"><%= product.name %></p>
          <%= image_tag(product.image, class:'img-fluid') %>
          <p><%= @farmer.department.name %></p>
        </div>
        <div class="col-md-4">
          <%= line_chart product.history_by(@farmer.department.name),  width: "500px", height: "250px",colors: ["#a8eb12", "#5c9e1c"] %>
        </div>
        <div class="col-md-4">
          <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value"><%= product.watson_production_by(@farmer.department.name, '2018') %></div>
            </div>
        </div>
      </div>
    <% end %>

      <% if @farmer.matching_producers? %>
        <h3>Possible matches with producers</h3>
        <div class="row">
          <% @farmer.matching_producers.each do |matching_producers| %>
            <div class="col-md-3">
              <div class="card main-card" >
                <div class="card-body">
                  <h5 class="card-title"><%= matching_producers.name %></h5>
                  <p class="card-text"><i class="fas fa-map-marker-alt image-text"></i><p class="title-text-card">Lugar:</p> Ciudad</p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
